<ion-view view-title="Bengali" class="bar-assertive" ng-cloak>
<ion-pane>
    <ion-content ng-controller="bengaliController" scroll="false">
        <ion-slides options="options" slider="data.slider">
            <ion-slide-page ng-repeat="word in words">
                <!-- <div class="box"><img ng-src="{{letters.img}}"></div> -->
                <div class="box">
                    <h1>{{ word.english }}</h1>
                    <div style="color:green; font-size:300%; line-height:.7em">{{ word.bengali }}</div>
                    <h3>{{ word.translit }}</h3>
                </div>
                <audio ng-src="{{trustSrc(word.audio)}}" type="audio/mpeg" class="audio"></audio>
            </ion-slide-page>

        </ion-slides>
        <div style="position:absolute; z-index:10000; bottom:20px; width:100%">
                <div style="text-align:center; color: orange; font-size: 18pt;">{{ message }}</div>
                <playbtn ng-click="togglePlay()" paused="paused" style="font-size:20pt; margin-left: 22px"><i class="ion-ios-pause"></i></playbtn>
                <ion-checkbox ng-model="autoAdvance" style="z-index:10000">Auto-Advance</ion-checkbox>
                <ion-checkbox ng-model="autoLoop" ng-change="toggleSlideLoop()">Auto-Loop</ion-checkbox>
                <input type="text" id="playback" name="playback" value="" />
        </div>
    </ion-content>

</ion-pane>
</ion-view>