<ion-view view-title="Lessons">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="lesson in lessons" href="#/app/decks/{{lesson.title}}">
        {{lesson.title}} - {{ lesson.letter }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
