/* Empty. Add your own CSS if you like */

.box, .slider {
    width: 100%;
    height: 50%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/*show no pager */
.swiper-pagination.swiper-pagination-clickable{
	/*display: none;*/
}

/*styling images in swiper */

.swiper-slide img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

